@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ArabicDisplayBlack';
  src: url(font/ARABICUIDISPLAYBLACK.OTF) format('opentype');
}
@font-face {
  font-family: 'ArabicDisplayBold';
  src: url(font/ARABICUIDISPLAYBOLD.OTF) format('opentype');
}
@font-face {
  font-family: 'ArabicDisplayHeavy';
  src: url(font/ARABICUIDISPLAYHEAVY.OTF) format('opentype');
}
@font-face {
  font-family: 'ArabicDisplayLight';
  src: url(font/ARABICUIDISPLAYLIGHT.OTF) format('opentype');
}
@font-face {
  font-family: 'ArabicDisplayMedium';
  src: url(font/ARABICUIDISPLAYMEDIUM.OTF) format('opentype');
}
@font-face {
  font-family: 'ArabicDisplaySemiBold';
  src: url(font/ARABICUIDISPLAYSEMIBOLD.OTF) format('opentype');
}
@font-face {
  font-family: 'ArabicDisplayThin';
  src: url(font/ARABICUIDISPLAYTHIN.OTF) format('opentype');
}
@font-face {
  font-family: 'ArabicDisplayUltraLight';
  src: url(font/ARABICUIDISPLAYULTRALIGHT.OTF) format('opentype');
}
@font-face {
  font-family: 'Saba';
  src: url(font/SABA-[@I_FONT].TTF) format('truetype');
}

/* تعریف کلاس‌های سفارشی */
@layer utilities {
  .font-arabic-bold {
    font-family: 'ArabicDisplayBold';
  }
  .font-arabic-medium {
    font-family: 'ArabicDisplayMedium';
  }
  .font-saba {
    font-family: 'Saba';
  }
  .font-semibold{
    font-family: 'ArabicDisplaySemiBold'
  }
}

.container {
  @apply flex;
}

/* In your tailwind.css or custom CSS file */
.sidebar {
  @apply bg-[#F8F9FA] shadow-none h-screen border-l-[1px] border-[#B2B9C0] w-[240px] fixed right-0 top-0 z-10;
}


.sidebarHeader {
  @apply mt-[48px] ml-[57px] mr-[29px] text-[24px] text-[#000B58] font-saba font-bold flex items-center whitespace-nowrap;
}

.icon {
  @apply w-[30px] h-[30px] ml-[20px];
}

.menu {
  @apply mx-auto my-auto mr-[36px] text-[#495057] text-[16px] font-normal font-arabic-bold;
}

.dashboard_item{
  @apply flex items-center whitespace-nowrap mt-[54px] hover:bg-gray-700 rounded;
}

.dashboard_icon{
  @apply w-[16px] h-[18px] ml-[16px];
}

.projects_item{
  @apply flex items-center whitespace-nowrap mt-[34px] text-[#495057];
}

.projects_icon{
  @apply w-[16px] h-[16px] ml-[16px];
}

.tasks_item{
  @apply flex items-center whitespace-nowrap mt-[34px];
}

.tasks_icon{
  @apply w-[16px] h-[16px] ml-[16px];
}

.users_item{
  @apply flex items-center whitespace-nowrap mt-[34px];
}

.users_icon{
  @apply w-[16px] h-[16px] ml-[16px];
}

.report_item{
  @apply flex items-center whitespace-nowrap mt-[34px];
}

.report_icon{
  @apply w-[16px] h-[16px] ml-[16px];
}

.calendar_item{
  @apply flex items-center whitespace-nowrap mt-[34px];
}

.calendar_icon{
  @apply w-[16px] h-[16px] ml-[16px];
}

.userCard {
  @apply flex flex-row items-center w-[205px] h-[90px] mt-[150px] mx-auto bg-[#000B58] rounded-[5px] text-[#FFFFFF] text-[10px] font-arabic-medium;
}

.userImageWrapper {
  @apply relative inline-block mr-[8px];
}

.userImage {
  @apply h-auto max-w-full w-[40px] h-[40px] rounded-full border-[6px] border-[#000B58];
}

.status {
  @apply absolute bottom-1.5 right-1 rounded-full;
}

.status_icon{
  @apply w-[8px] h-[8px];
}

.div_span{
  @apply mr-[8px];
}

.name_span{
  @apply whitespace-nowrap;
}

.email_span{
  @apply mt-[16px] whitespace-nowrap;
}

.hamburger_menu{
  @apply fixed ml-[16px] mr-[185px];
}

.navbar {
  @apply h-[80px] w-full flex items-center justify-between bg-[#F8F9FA] mr-[240px] pr-[24px] py-[21px];
}
.navbar{
  @apply h-[80px] w-full flex flex-row row-2 gap-[450px] items-center bg-[#F8F9FA] mr-[240px] pr-[24px] my-auto font-arabic-medium;
}

.searchBar {
  display: flex;
  align-items: center;
}

.search_btn {
  position: absolute;
  left: 10px;
}

.search_icon{

}

.searchInput {
  width: 470px;
  height: 38px;
  background-color: #e2e5e9;
  border-radius: 5px;
  padding: 16px;
  color: #000b58;
}

.navIcons {
  display: flex;
  align-items: center;
}

.userName {
  margin-left: 16px;
  color: #495057;
  font-size: 16px;
  font-weight: bold;
}

.nav_icon{

}
