<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ادیت پروفایل</title>
    <link rel="stylesheet" href="./output.css">
    <style>
        body {
            direction: rtl;
        }
    </style>
</head>

<body class="flex">

    <!-- منوی سمت راست -->
    <!-- to do by sama: edit hovers -->

    <div class="sidebar bg-[#F8F9FA] shadow-none h-screen border-l-[1px] border-[#B2B9C0] w-[240px] fixed right-0 top-0 z-10">
        
        <h2 class="mt-[48px] ml-[57px] mr-[29px] text-[24px] text-[#000B58] font-saba font-bold flex items-center whitespace-nowrap">
            <img src="icons/projectNegar.png" alt="Section Icon" class="w-[30px] h-[30px] ml-[20px]"> 
            پروژه نگار
        </h2>
        <ul class="mx-auto my-auto mr-[36px] text-[#495057] text-[16px] font-normal font-arabic-bold">

            <li class="flex items-center whitespace-nowrap mt-[54px] hover:bg-gray-700 rounded">
                <img src="icons/Frame 1000001430.png" alt="Dashboard" class="w-[16px] h-[18px] ml-[16px]">داشبورد</li>

            <li class="flex items-center whitespace-nowrap mt-[34px] text-[#495057]">
                <img src="icons/projects.png" alt="Projects" class="w-[16px] h-[16px] ml-[16px]">پروژه ها</li>

            <li class="flex items-center whitespace-nowrap mt-[34px]">
                <img src="icons/tasks.png" alt="Tasks" class="w-[16px] h-[16px] ml-[16px]">وظایف</li>

            <li class="flex items-center whitespace-nowrap mt-[34px]">
                <img src="icons/users.png" alt="Users" class="w-[16px] h-[16px] ml-[16px]">کاربران</li>

            <li class="flex items-center whitespace-nowrap mt-[34px]">
                <img src="icons/report.png" alt="Reports" class="w-[16px] h-[16px] ml-[16px]">گزارش</li>

            <li class="flex items-center whitespace-nowrap mt-[34px]">
                <img src="icons/calendar.png" alt="Calendar" class="w-[16px] h-[16px] ml-[16px]">تقویم</li> 
        </ul>

        <!-- کارت زیر منوی سمت راست -->
        <div class="flex flex-row items-center w-[205px] h-[90px] mt-[150px] mx-auto bg-[#000B58] rounded-[5px] text-[#FFFFFF] text-[10px] font-arabic-medium">
            <div class="relative inline-block mr-[8px]">

                <!-- عکس پروفایل -->
                <img
                    src="icons/0df984f5b0ca214b6596dd91ef682411 (1).jfif"
                    class="h-auto max-w-full w-[40px] h-[40px] rounded-full border-[6px] border-[#000B58]"
                    alt="icon" />

                    <!-- وضعیت آنلاین بودن -->
                    <div class="absolute bottom-1.5 right-1 rounded-full"><img class="w-[8px] h-[8px]" src="icons/status.png" alt="icon"></div>
            </div>

            <!-- ایمیل و نام کاربر به صورت span تعریف شده -->
            <div class="mr-[8px]">
                <div class=" whitespace-nowrap">
                    <span>بیتا جوان</span>
                </div>

                <div class="mt-[16px] whitespace-nowrap">
                    <span>Bitaj@gmail.com</span>
                </div>
            </div>

            <!-- منوی همبرگر -->
            <div class="fixed ml-[16px] mr-[185px]">
                <button>
                    <img src="icons/Frame 1000001439.png" alt="icon">
                </button>
            </div>
        </div>
    </div>

    <!-- navigation bar بالای صفحه -->
    <!-- to do by sama: check responsivity, fix the width to take all remaining space -->
    <nav class="h-[80px] w-full flex flex-row row-2 gap-[450px] items-center bg-[#F8F9FA] mr-[240px] pr-[24px] my-auto font-arabic-medium" style="position:fixed; top:0; z-index: 1000;">


        <!-- کد مربوط به نوار جست و جو -->
        <div class="relative flex items-center my-auto text-[#787486] text-[14px]">
            <button class="absolute left-2 top-1/2 transform -translate-y-1/2">
                <img src="icons/search-normal.png" class="h-[22px] w-[22px]">
            </button>
            <input type="text" placeholder="اینجا جست و جو کنید...." class="w-[470px] h-[38px] rounded-[5px] bg-[#E2E5E9] focus:outline-none focus:ring focus:ring-[#000B58] px-[16px] text-[#000B58] whitespace-nowrap" />
        </div>
        
        <!-- کد مربوط به آیکونهای سمت راست برنامه -->
        <div class="flex flex-row row-4 justify-end items-center">
            <button class="bg-[#F8F9FA]">
                <img src="icons/Group 33651.png" alt="Icon" class="h-[25px] w-[25px] ml-[16px]"> 
            </button>
        
            <button class="bg-[#F8F9FA]">
                <img src="icons/chat.png" alt="Icon" class="h-[25px] w-[25px] ml-[32px]">
            </button>
             
            <span class="whitespace-nowrap text-[#495057] text-[16px] font-semibold ml-[32px]  whitespace-nowrap">بیتا جوان</span>

            <button class="bg-[#F8F9FA]">
                <img src="icons/profile dropdown.png" alt="Icon" class="h-[18px] w-[18px]"> 
            </button>
        </div>
    </nav>

    <!--  محتوای اصلی برنامه div -->
    <div class="flex flex-col cols-3 ml-[240px] w-full h-auto">

        <!-- navigation bar منوی زیر  -->
        <div class="flex flex-row gap-[10px] w-[291px] h-[24px] items-center mr-[268px] mt-[112px] font-arabic-medium font-semibold">

            <button>
                <img class="w-[24px] h-[24px] text-[16px]" src="icons/home-alt (1).png" alt="icon">
            </button>
    
            <img class="w-[18px] h-[18px]" src="icons/chevron-left (1).png" alt="icon">
            <button class="text-[#B2B9C0]  whitespace-nowrap">
                حساب کاربری
            </button>
            <img class="w-[18px] h-[18px]" src="icons/chevron-left (1).png" alt="icon">
            <button class="text-[#495057]  whitespace-nowrap">
                اطلاعات شخصی
            </button>
        </div>


        <!-- فرم اطلاعات کاربر -->
        <div class="flex flex-col w-[1140px] h-screen mt-[32px] mr-[268px] pr-[16px] font-arabic-medium antialiased">
    
            <!-- عکس پروفایل -->
            <div class="relative inline-block">

                <!-- عکس پروفایل -->
                <img
                    src="icons/0df984f5b0ca214b6596dd91ef682411.jfif"
                    class="h-auto max-w-full w-[126px] h-[126px] rounded-full border-[6px] border-[#000B58] z-0 relative"
                    alt="profile" />

                    <div class="absolute bottom-0 right-0.5 rounded-full">
                        <button>
                            <img src="icons/Group 33652.png" class="w-40px h-[40px]" alt="icon">
                        </button>
                    </div>

            </div>
    
            <!-- اطلاعات کاربر div -->
            <div class="flex flex-col gap-[16px] w-[1108px] h-[302px] mt-[12px]">
    
                <!-- نام کاربر div -->
                <div class="flex items-center">

                    <!-- نام -->
                     <label class="w-[19px] h-[24px] ml-[208px] font-bold text-[16px] antialiased text-[#495057]  whitespace-nowrap" for="first-name">
                        نام
                     </label>
                    
                     <!--  نام input -->
                     <input type="text" id="first-name" class="w-[320px] h-[40px] pl-[8px] pr-[8px] font-light text-[#000B58] text-[16px] bg-[#F8F9FA] border-[1.5px] rounded-[5px] border-[#BBC1C7]">
    
                </div>
    
                <!-- نام خانوادگی div -->
                <div class="flex items-center">

                    <!-- نام خانوادگی -->
                    <label class="w-[83px] h-[24px] ml-[143px] font-bold text-[16px] text-[#495057]  whitespace-nowrap" for="last-name">نام خانوادگی</label>
    
                    <!-- نام خانوادگی input -->
                    <input class="w-[320px] h-[40px] pl-[8px] pr-[8px]  font-light text-[#000B58] text-[16px] bg-[#F8F9FA] border-[1.5px] rounded-[5px] border-[#BBC1C7]" id="last-name">
                      
                </div>
    
                <!-- شماره موبایل div -->
                <div class="flex items-center">

                    <!-- شماره تلفن همراه -->
                    <label class="w-[116px] h-[24px] ml-[110px] font-bold text-[16px] text-[#495057]  whitespace-nowrap" for="phone-number">شماره تلفن همراه </label>
    
                    <!-- شماره تلفن همراه  input -->
                    <input class="w-[320px] h-[40px] pl-[8px] pr-[8px]  font-light text-[#000B58] text-[16px] bg-[#F8F9FA] border-[1.5px] rounded-[5px] border-[#BBC1C7]" id="phone-number">
                </div>
    
                <!-- ایمیل div -->
                <div class="flex items-center">

                    <!-- ایمیل -->
                    <label class="w-[37px] h-[24px] ml-[189px] font-bold text-[16px] text-[#495057] whitespace-nowrap" for="email-address">ایمیل</label>
    
                    <!-- ایمیل  input -->
                    <input class="w-[320px] h-[40px] pl-[8px] pr-[8px]  font-light text-[#000B58] text-[16px] bg-[#F8F9FA] border-[1.5px] rounded-[5px] border-[#BBC1C7]" id="email-address">
                </div>
    

                <!-- تخصص div -->
                <div class="flex items-center">

                    <!-- تخصص -->
                    <label class="w-[51px] h-[24px] ml-[175px] font-bold text-[16px] text-[#495057] whitespace-nowrap" for="profession">تخصص</label>

                    <!-- تخصص  select -->
                    <select class="w-[320px] h-[40px] pl-[8px] pr-[8px] font-light text-[#000B58] text-[16px] bg-[#F8F9FA] border-[1.5px] rounded-[5px] border-[#BBC1C7]" name="professions" id="profession">
                        <option>انتخاب کنید</option>
                        <option>تخصص1</option>
                        <option>تخصص2</option>
                    </select>
    
                </div>
    
                <!-- توضیحات div -->
                <div class="flex items-center">

                    <!-- توضیحات -->
                    <label class="w-[65px] h-[24px] ml-[161px] pb-[140px] block font-bold text-[16px] text-[#495057]  whitespace-nowrap" for="explaining">توضیحات</label>

                    <textarea class="w-[320px] h-[160px] pr-[15px] pt-[8.5px] pt-[8.5px] font-light text-[#000B58] text-[16px] bg-[#F8F9FA] border-[1.5px] rounded-[5px] border-[#BBC1C7] resize-none overflow-y-auto" id="explaining" type="text" rows="5" style="text-align: right;"></textarea>
                </div>
            </div>

            <div class="flex items-center justify-end flex-row gap-2 font-arabic-medium mt-[200px] ml-[32px]">
                <button class="bg-[#FFFFFF] text-[#000B58] w-[120px] h-[40px] rounded-[5px] border-[2px] border-[#000B58] text-[16px]  whitespace-nowrap">انصراف</button>
                <button class="bg-[#000B58] text-[#F8F9FA] w-[120px] h-[40px] rounded-[5px] border-[2px] text-[14px] border-none  whitespace-nowrap">ثبت تغییرات</button>
            </div>
            
        </div>

    </div>

</body>
</html>

