.sidebar{
    position: fixed;
    right: 0;
    bottom: 0;
    width: 240px;
    max-height: 100vh;
    min-height: 100vh;
    background-color:#F8F9FA;
    border-left: #B2B9C0;
    border-left-width: 1px;
    border-style: solid;
    z-index: 10;
    white-space: nowrap;
}

.sidebar-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 29px;
    margin-top: 52px;
    font-size: 24px;
    color: #000B58;
}

.sidebar-header-icon{
    width: 30px;
    height: 30px;
    margin-left: 16px;
}

.sidebar-list{
    margin-top: 40px;
}

.sidebar-item{
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sidebar-icon{
    width: 20px;
    height: 20px;
    margin-left: 16px;
    margin-right: 36px;
}

.sidebar-text{
    font-size: 16px;
    color: #495057;
}

.sidebar-item:hover{
    background-color: #000B58;
    border-radius: 8px;
}

.sidebar-item:hover .sidebar-text{
    color: white;
}

.sidebar-item:hover .sidebar-icon {
    filter: brightness(0) invert(1); /* Change icon to white */
}

.profile-card{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #000B58;
    border-radius: 5px;
    color:#FFFFFF ;
    font-size: 10px;
    width: 205px;
    height: 90px;
}
