@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  @font-face {
    font-family: 'ArabicDisplayBlack';
    src: url(../../font/ARABICUIDISPLAYBLACK.OTF) format('opentype');
  }

  @font-face {
    font-family: 'ArabicDisplayBold';
    src: url(../../font/ARABICUIDISPLAYBOLD.OTF) format('opentype');
  }

  @font-face {
    font-family: 'ArabicDisplayHeavy';
    src: url(../../font/ARABICUIDISPLAYHEAVY.OTF) format('opentype');
  }

  @font-face {
    font-family: 'ArabicDisplayLight';
    src: url(../../font/ARABICUIDISPLAYLIGHT.OTF) format('opentype');
  }

  @font-face {
    font-family: 'ArabicDisplayMedium';
    src: url(../../font/ARABICUIDISPLAYMEDIUM.OTF) format('opentype');
  }

  @font-face {
    font-family: 'ArabicDisplaySemiBold';
    src: url(../../font/ARABICUIDISPLAYSEMIBOLD.OTF) format('opentype');
  }

  @font-face {
    font-family: 'ArabicDisplayThin';
    src: url(../../font/ARABICUIDISPLAYTHIN.OTF) format('opentype');
  }

  @font-face {
    font-family: 'ArabicDisplayUltraLight';
    src: url(../../font/ARABICUIDISPLAYULTRALIGHT.OTF) format('opentype');
  }

  @font-face {
    font-family: 'Saba';
    src: url(../../font/SABA-[@I_FONT].TTF) format('truetype');
  }
}

@layer utilities {
  .font-saba {
    font-family: 'Saba';
  }

  .font-arabic-medium {
    font-family: 'ArabicDisplayMedium';
  }

  .font-arabic-light {
    font-family: 'ArabicDisplayUltraLight';
  }
}

.body {
  margin: 0;
  padding: 0;
  overflow: auto;
}

.rounded_full{

}

.back{
  @apply w-[48px] h-[48px];
}

.content_div{
  @apply enter-container mt-[343px] mb-[343px];
}

.main_container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  padding: 0;
  margin: 0;
}

.left-side {
  margin: 0;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: fit-content;
  flex: 1;
}

.main_enter_container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 30px;
}

.top_div {
  right: 48px;
  top: 24px;
}

.enter-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

.enter_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.enter_email{
  @apply whitespace-nowrap font-saba text-[30px] text-[#101828];
}

.for_code{
  @apply mt-[40px] whitespace-nowrap font-arabic-light text-[18px] text-[#1B1D1F];
}

.div_email_field{
  @apply enter-box mt-[74px] text-[14px] font-arabic-medium;
}
.enter-box {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.email_field {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
}

.email_label{
  @apply mb-[10px] whitespace-nowrap text-[#495057];
}

.input_email{
  @apply w-[400px] h-[40px] pl-[10px] pr-[10px] bg-[#F8F9FA] border-[2px] border-[#BBC1C7] rounded-[5px] text-[20px] text-[#1B02B7] shadow-none;
}

.get_code_btn{
  @apply w-[400px] h-[32px] mt-[48px] bg-[#000B58] text-[#F8F9FA] font-arabic-light font-bold text-[16px] rounded-[5px];
}

.div_project_title{
  @apply left-side whitespace-nowrap font-saba text-[#FFFFFF] text-[90px] bg-[#000B58] rounded-r-[50px];
}
.input_code.error {
  border: 2px solid red;
}

.input_error {
  border: 1px solid red;
}

.error_container {
  display: flex;
  align-items: center;
  margin-top: 5px;
  color: red;
}

.icon_warning {
  margin-right: 5px;
}

.error_message {
  font-size: 14px;
  margin: 0;
}
