*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.16 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

@font-face {
  font-family: 'ArabicDisplayBlack';

  src: url(../font/ARABICUIDISPLAYBLACK.OTF) format('opentype');
}

@font-face {
  font-family: 'ArabicDisplayBold';

  src: url(../font/ARABICUIDISPLAYBOLD.OTF) format('opentype');
}

@font-face {
  font-family: 'ArabicDisplayHeavy';

  src: url(../font/ARABICUIDISPLAYHEAVY.OTF) format('opentype');
}

@font-face {
  font-family: 'ArabicDisplayLight';

  src: url(../font/ARABICUIDISPLAYLIGHT.OTF) format('opentype');
}

@font-face {
  font-family: 'ArabicDisplayMedium';

  src: url(../font/ARABICUIDISPLAYMEDIUM.OTF) format('opentype');
}

@font-face {
  font-family: 'ArabicDisplaySemiBold';

  src: url(../font/ARABICUIDISPLAYSEMIBOLD.OTF) format('opentype');
}

@font-face {
  font-family: 'ArabicDisplayThin';

  src: url(../font/ARABICUIDISPLAYTHIN.OTF) format('opentype');
}

@font-face {
  font-family: 'ArabicDisplayUltraLight';

  src: url(../font/ARABICUIDISPLAYULTRALIGHT.OTF) format('opentype');
}

@font-face {
  font-family: 'Saba';

  src: url(../font/SABA-[@I_FONT].TTF) format('truetype');
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.inset-y-0 {
  top: 0px;
  bottom: 0px;
}

.bottom-1\.5 {
  bottom: 0.375rem;
}

.left-0 {
  left: 0px;
}

.right-1 {
  right: 0.25rem;
}

.right-\[16px\] {
  right: 16px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mb-\[20px\] {
  margin-bottom: 20px;
}

.ml-4 {
  margin-left: 1rem;
}

.ml-\[16px\] {
  margin-left: 16px;
}

.mr-\[16px\] {
  margin-right: 16px;
}

.mr-\[32px\] {
  margin-right: 32px;
}

.mt-\[112px\] {
  margin-top: 112px;
}

.mt-\[32px\] {
  margin-top: 32px;
}

.mt-\[44px\] {
  margin-top: 44px;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.table {
  display: table;
}

.hidden {
  display: none;
}

.h-5 {
  height: 1.25rem;
}

.h-\[18px\] {
  height: 18px;
}

.h-\[20px\] {
  height: 20px;
}

.h-\[24px\] {
  height: 24px;
}

.h-\[30px\] {
  height: 30px;
}

.h-\[32px\] {
  height: 32px;
}

.h-\[40px\] {
  height: 40px;
}

.h-\[72px\] {
  height: 72px;
}

.h-\[8px\] {
  height: 8px;
}

.w-5 {
  width: 1.25rem;
}

.w-\[104px\] {
  width: 104px;
}

.w-\[1072px\] {
  width: 1072px;
}

.w-\[1104px\] {
  width: 1104px;
}

.w-\[1108px\] {
  width: 1108px;
}

.w-\[1168px\] {
  width: 1168px;
}

.w-\[120px\] {
  width: 120px;
}

.w-\[12px\] {
  width: 12px;
}

.w-\[160px\] {
  width: 160px;
}

.w-\[18px\] {
  width: 18px;
}

.w-\[20px\] {
  width: 20px;
}

.w-\[228px\] {
  width: 228px;
}

.w-\[240px\] {
  width: 240px;
}

.w-\[24px\] {
  width: 24px;
}

.w-\[320px\] {
  width: 320px;
}

.w-\[40px\] {
  width: 40px;
}

.w-\[426px\] {
  width: 426px;
}

.w-\[78px\] {
  width: 78px;
}

.w-\[8px\] {
  width: 8px;
}

.border-collapse {
  border-collapse: collapse;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-\[10px\] {
  gap: 10px;
}

.gap-\[24px\] {
  gap: 24px;
}

.gap-\[30px\] {
  gap: 30px;
}

.gap-\[4px\] {
  gap: 4px;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.rounded-\[16px\] {
  border-radius: 16px;
}

.rounded-\[4px\] {
  border-radius: 4px;
}

.rounded-\[5px\] {
  border-radius: 5px;
}

.rounded-\[8px\] {
  border-radius: 8px;
}

.rounded-full {
  border-radius: 9999px;
}

.border-\[1px\] {
  border-width: 1px;
}

.border-\[2px\] {
  border-width: 2px;
}

.border-\[6px\] {
  border-width: 6px;
}

.border-none {
  border-style: none;
}

.border-\[\#000B58\] {
  --tw-border-opacity: 1;
  border-color: rgb(0 11 88 / var(--tw-border-opacity, 1));
}

.border-\[\#B2B9C0\] {
  --tw-border-opacity: 1;
  border-color: rgb(178 185 192 / var(--tw-border-opacity, 1));
}

.border-\[\#E2E5E9\] {
  --tw-border-opacity: 1;
  border-color: rgb(226 229 233 / var(--tw-border-opacity, 1));
}

.bg-\[\#000B58\] {
  --tw-bg-opacity: 1;
  background-color: rgb(0 11 88 / var(--tw-bg-opacity, 1));
}

.bg-\[\#F8F9FA\] {
  --tw-bg-opacity: 1;
  background-color: rgb(248 249 250 / var(--tw-bg-opacity, 1));
}

.px-\[14px\] {
  padding-left: 14px;
  padding-right: 14px;
}

.px-\[16px\] {
  padding-left: 16px;
  padding-right: 16px;
}

.px-\[32px\] {
  padding-left: 32px;
  padding-right: 32px;
}

.py-\[16px\] {
  padding-top: 16px;
  padding-bottom: 16px;
}

.pb-\[16px\] {
  padding-bottom: 16px;
}

.pb-\[50px\] {
  padding-bottom: 50px;
}

.pl-3 {
  padding-left: 0.75rem;
}

.pr-\[32px\] {
  padding-right: 32px;
}

.pr-\[56px\] {
  padding-right: 56px;
}

.pt-\[32px\] {
  padding-top: 32px;
}

.font_arabic_bold {
  font-family: ArabicDisplayBold;
}

.font_arabic_medium {
  font-family: ArabicDisplayMedium;
}

.font-saba {
  font-family: Saba;
}

.text-\[14px\] {
  font-size: 14px;
}

.text-\[16px\] {
  font-size: 16px;
}

.text-\[24px\] {
  font-size: 24px;
}

.font_semibold {
  font-weight: 600;
}

.text-\[\#000B58\] {
  --tw-text-opacity: 1;
  color: rgb(0 11 88 / var(--tw-text-opacity, 1));
}

.text-\[\#2E2E2E\] {
  --tw-text-opacity: 1;
  color: rgb(46 46 46 / var(--tw-text-opacity, 1));
}

.text-\[\#495057\] {
  --tw-text-opacity: 1;
  color: rgb(73 80 87 / var(--tw-text-opacity, 1));
}

.text-\[\#B2B9C0\] {
  --tw-text-opacity: 1;
  color: rgb(178 185 192 / var(--tw-text-opacity, 1));
}

.text-\[\#F8F9FA\] {
  --tw-text-opacity: 1;
  color: rgb(248 249 250 / var(--tw-text-opacity, 1));
}

.underline {
  text-decoration-line: underline;
}

.decoration-\[4px\] {
  text-decoration-thickness: 4px;
}

.underline-offset-\[10px\] {
  text-underline-offset: 10px;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.placeholder-\[\#495057\]::-moz-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(73 80 87 / var(--tw-placeholder-opacity, 1));
}

.placeholder-\[\#495057\]::placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(73 80 87 / var(--tw-placeholder-opacity, 1));
}

@media (min-height: 600px) {
  .h-sm\:mt-\[50px\] {
    margin-top: 50px;
  }
}

@media (min-height: 800px) {
  .h-md\:mt-\[200px\] {
    margin-top: 200px;
  }
}

@media (min-height: 1000px) {
  .h-lg\:mt-\[490px\] {
    margin-top: 490px;
  }
}

@media (min-height: 1200px) {
  .h-xl\:mt-\[600px\] {
    margin-top: 600px;
  }
}

@media (min-height: 1400px) {
  .h-2xl\:mt-\[700px\] {
    margin-top: 700px;
  }
}

  