@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  @font-face {
      font-family: 'ArabicDisplayBlack';
      src: url(font/ARABICUIDISPLAYBLACK.OTF) format('opentype');
  }
  @font-face {
      font-family: 'ArabicDisplayBold';
      src: url(font/ARABICUIDISPLAYBOLD.OTF) format('opentype');
  }
  @font-face {
      font-family: 'ArabicDisplayHeavy';
      src: url(font/ARABICUIDISPLAYHEAVY.OTF) format('opentype');
  }
  @font-face {
      font-family: 'ArabicDisplayLight';
      src: url(font/ARABICUIDISPLAYLIGHT.OTF) format('opentype');
  }
  @font-face {
      font-family: 'ArabicDisplayMedium';
      src: url(font/ARABICUIDISPLAYMEDIUM.OTF) format('opentype');
  }
  @font-face {
      font-family: 'ArabicDisplaySemiBold';
      src: url(font/ARABICUIDISPLAYSEMIBOLD.OTF) format('opentype');
  }
  @font-face {
      font-family: 'ArabicDisplayThin';
      src: url(font/ARABICUIDISPLAYTHIN.OTF) format('opentype');
  }
  @font-face {
      font-family: 'ArabicDisplayUltraLight';
      src: url(font/ARABICUIDISPLAYULTRALIGHT.OTF) format('opentype');
  }
  @font-face {
      font-family: 'Saba';
      src: url(font/SABA-[@I_FONT].TTF) format('truetype');
  }
}

@layer utilities {
  .font-saba {
    font-family: 'Saba';
  }
  .font-arabic-medium {
    font-family: 'ArabicDisplayMedium';
  }
  .font-arabic-light {
    font-family: 'ArabicDisplayUltraLight';
  }
}
* { 
  margin: 0; padding: 0; box-sizing: border-box;
} 


body, html {
   height: 100%;
}



.div_frame1 {
  display: flex;
  flex-direction: row;
  width: 100vw;
  padding: 0;
  margin: 0;}

.div_project_title {
  @apply whitespace-nowrap left-side font-saba text-[#FFFFFF] text-[90px] bg-[#000B58] rounded-r-[50px];  
}

.left-side{
  margin: 0;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: fit-content;
  flex: 1;    
}

.div_login_form {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 30px;

}
.div_group_content{
  @apply login-container mt-[277px] mb-[277px];
}

.login-container{
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

.login_header{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  
}

.enter_account{
  @apply whitespace-nowrap font-saba text-[30px] text-[#101828];
}

.welcome_tile{
  @apply mt-[40px] whitespace-nowrap font-arabic-light text-[18px] text-[#1B1D1F];
}

.user_pass{
  @apply login-box mt-[80px] text-[14px] font-arabic-medium shadow-none;
}

.input_wrapper{
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
}

.username_field{
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
}

.password_field{
  @apply username_field mt-[20px];
}

.remember_span{
  @apply checkmark ml-[5px];
}

.register{
  @apply mt-[20px] whitespace-nowrap font-arabic-medium text-[14px] text-[#969696];
}

.register_btn{
  @apply mr-[5px] whitespace-nowrap text-[#1B02B7] font-bold;
}












.body{
  margin: 0;
  padding: 0;
  overflow: auto;
}

.main-container{
  display: flex;
  flex-direction: row;
  width: 100vw;
  padding: 0;
  margin: 0;
}

.left-side{
  margin: 0;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: fit-content;
  flex: 1;    
}

.main-login-container{
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 30px;
}

.login-container{
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

.login-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.login-box{
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  justify-content: center;
}

.username-field , .password-field{
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
}

.eye-icon {
  position: absolute;
  left: 10px; /* Space from the left */
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Adjust to truly center */
  cursor: pointer; /* Change cursor to pointer when hovering over the icon */
}

.password-save-forgot {
  display: flex;
  flex-direction: row;
  flex: 1;    
  align-items: center;
}

.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkmark {
  width: 24px; /* Width of the custom checkbox */
  height: 24px; /* Height of the custom checkbox */
  border: 2px solid #000B58; /* Border color and width */
  border-radius: 3px; /* Optional: rounded corners */
  position: relative;
}

.hidden-checkbox:checked + .checkmark {
  background-color: #000B58; /* Background color when checked */
}

.hidden-checkbox:checked + .checkmark::after {
  content: '';
  position: absolute;
  left: 6px; /* Positioning for the check mark */
  top: 3px; /* Positioning for the check mark */
  width: 6px; /* Width of the check mark */
  height: 12px; /* Height of the check mark */
  border: solid white; /* Color of the check mark */
  border-width: 0 2px 2px 0; /* Border width to create a check mark */
  transform: rotate(45deg); /* Rotate to form a check mark */
}




.div_welcome{
  padding-right: 70px;
}

.div_rememeber_me{
  @apply password-save-forgot mt-[20px];
}


.para_enter_account{
  font-size: 26px;
  font-family: 'Saba';
  font-weight: 700;
  line-height: 47px;
  margin-bottom: 0;
  color: #101828;
}

.para_welcome{
  font-size: 18px;
  line-height: 26px;
  font-family: 'W_hosseini';
  margin-top: 30px;
  margin-bottom: 0;
  margin-right: 30px;
  color: #1B1D1F;
}

.span_project_name{
  color: rgb(51, 6, 51);
}

.span_project_name:hover{
  cursor: pointer;
  text-decoration: underline;
}

.para_username{
  @apply mb-[10px] whitespace-nowrap text-[#495057];
}

.input_username{
  @apply w-[400px] h-[40px] pl-[10px] pr-[10px] bg-[#F8F9FA] border-[2px] border-[#BBC1C7] rounded-[5px] text-[#1B02B7] text-[16px];
}

.para_email,
.para_username,
.para_password {
  @apply mb-[10px] whitespace-nowrap text-[#495057];
}

.input_username,
.input_password,
.input_email {
  @apply w-[400px] h-[40px] pl-[10px] pr-[10px] bg-[#F8F9FA] border-[2px] border-[#BBC1C7] rounded-[5px] text-[#1B02B7] text-[16px];
}


.checkbox_remember_me{
  height: 15px;
  width: 15px;
  border: solid;
  border-width: 2px;
  border-radius: 3px;
  border-color: #000B58;
  margin-left: 5px;
  display: none; /* Hide the default checkbox */
}

.label_remember_me{
  @apply checkbox text-[#1B1D1F] font-arabic-light text-[14px];
}

.para_forgot_password{
  margin-right: 150px;
  display: inline-block;
  width: 159px;
  height: 23px;
  font-size: 14px;
  line-height: 23px;
  font-family: 'W_hosseini';
  color: #1B02B7;
}

.btn_login{
  background-color: #000B58;
  width: 100%; /* Makes button responsive */
  max-width: 400px;
  height: 32px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #F8F9FA;
  font-family: 'W_hosseini';
  margin-top: 20px;
}


.para_verification_code {
  color: #495057;
  font-family: 'W_hosseini';
  font-size: 16px;
  line-height: 26px;
  margin-top: 20px;
  margin-bottom: 7px;
  text-align: center;
}

.input_code_container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.input_code {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 40px;
  height: 40px;
  border: 1.5px solid #BBC1C7;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  font-family: 'Saba';
  background-color: #F8F9FA;
  color: #000;
}

.input_code:focus {
  border-color: #000B58;
  outline: none;
}

.timer {
  font-family: 'W_hosseini';
  font-size: 12px;
  color: #495057;
  margin-top: 15px;
  text-align: center;
}

.para_resend {
  font-family: 'W_hosseini';
  font-size: 14px;
  color: #0d19c0;
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
  text-decoration: underline;
}

.para_resend:hover {
  color: #000B58;
}

.para_email{
  color: #495057;
  font-family: 'W_hosseini';
  size: 14px;
  font-family: 'W_hosseini';
  line-height: 23px;
  margin-top: 20px;
  margin-bottom: 7px;
}
.input_email{
  background-color: #F8F9FA;
  border: solid;
  border-radius: 5px;
  border-color: #BBC1C7;
  width: 100%;
  max-width: 400px;
  height: 40px;
  border-width: 1.5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
}

.para_enter_account{
  font-size: 26px;
  font-family: 'Saba';
  font-weight: 700;
  line-height: 47px;
  margin-bottom: 0;
  color: #101828;
}

.para_verification_code {
  color: #495057;
  font-family: 'W_hosseini';
  font-size: 16px;
  line-height: 26px;
  margin-top: 20px;
  margin-bottom: 7px;
  text-align: center;
}

.para_email {
   color: #495057;
   font-family: 'W_hosseini';
   size: 14px;
   line-height: 23px;
   margin-top: 20px;
   margin-bottom: 7px;
}

.input_email {
   background-color: #F8F9FA;
   border: solid;
   border-radius: 5px;
   border-color: #BBC1C7;
   width: 100%;
   max-width: 400px;
   height: 40px;
   border-width: 1.5px;
   padding-left: 10px;
   padding-right: 10px;
   font-size: 16px;
}

/* صفحه وارد کردن کد تایید*/
.para_resend {
   color: black;
   text-decoration: none;
   margin-bottom: 40px;
}

.timer {
   font-family: 'W_hosseini';
   font-size: 12px;
   color: #495057;
   margin-top: 15px;
   text-align: center;
   margin-bottom: 40px;
}

.para_resend .resend_link {
   color: #000B58;
   text-decoration: none;
   margin-bottom: 40px;
}

.para_resend:hover .resend_link {
   color: #000B58;
   margin-bottom: 40px;
}


/* صفحه جدید برای تایید کد اشتباه*/
.div_verification_error {
  display: none;
  background-color: #f8d7da;
  color: red;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid red;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.div_verification_error .error_icon {
  margin-right: 15px;
  font-size: 18px;
  color: red;
}

.div_verification_error .error_message {
  margin: 0;
  font-size: 14px;
  color: red;
}

.input_code.error {
  border: 2px solid red;
}

.input_error {
  border: 1px solid red;
}

.error_container {
  display: flex;
  align-items: center;
  margin-top: 5px;
  color: red;
}

.icon_warning {
  margin-right: 5px;
}

.error_message {
  font-size: 14px;
  margin: 0;
}
