.body{
    margin: 0;
    padding: 0;
    overflow: auto;
}

.main-container{
    display: flex;
    flex-direction: row;
    width: 100vw;
    padding: 0;
    margin: 0;
}

.left-side{
    margin: 0;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: fit-content;
    flex: 1;    
}

.main-change-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 30px;
}

.change-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.change-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.password-box{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.password-field{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
}

.eye-icon {
    position: absolute;
    left: 10px; /* Space from the left */
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Adjust to truly center */
    cursor: pointer; /* Change cursor to pointer when hovering over the icon */
}
