@font-face {
  font-family: 'Saba'; 
  src: url('../../Fonts/Saba-[@i_font].ttf') format('truetype'); 
}

@font-face {
  font-family: 'W_hosseini'; 
  src: url('../../Fonts/ArabicUIDisplayThin.otf') format('opentype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  @font-face {
    font-family: 'ArabicDisplayBlack';
    src: url(../../font/ARABICUIDISPLAYBLACK.OTF) format('opentype');
  }

  @font-face {
    font-family: 'ArabicDisplayBold';
    src: url(../../font/ARABICUIDISPLAYBOLD.OTF) format('opentype');
  }

  @font-face {
    font-family: 'ArabicDisplayHeavy';
    src: url(../../font/ARABICUIDISPLAYHEAVY.OTF) format('opentype');
  }

  @font-face {
    font-family: 'ArabicDisplayLight';
    src: url(../../font/ARABICUIDISPLAYLIGHT.OTF) format('opentype');
  }

  @font-face {
    font-family: 'ArabicDisplayMedium';
    src: url(../../font/ARABICUIDISPLAYMEDIUM.OTF) format('opentype');
  }

  @font-face {
    font-family: 'ArabicDisplaySemiBold';
    src: url(../../font/ARABICUIDISPLAYSEMIBOLD.OTF) format('opentype');
  }

  @font-face {
    font-family: 'ArabicDisplayThin';
    src: url(../../font/ARABICUIDISPLAYTHIN.OTF) format('opentype');
  }

  @font-face {
    font-family: 'ArabicDisplayUltraLight';
    src: url(../../font/ARABICUIDISPLAYULTRALIGHT.OTF) format('opentype');
  }

  @font-face {
    font-family: 'Saba';
    src: url(../../font/SABA-[@I_FONT].TTF) format('truetype');
  }
}

@layer utilities {
  .font-saba {
    font-family: 'Saba';
  }

  .font-arabic-medium {
    font-family: 'ArabicDisplayMedium';
  }

  .font-arabic-light {
    font-family: 'ArabicDisplayUltraLight';
  }
}

* { 
  margin: 0; padding: 0; box-sizing: border-box;
} 


body, html {
   height: 100%;
}



.div_frame1 {
  display: flex;
  flex-direction: row;
  width: 100vw;
  padding: 0;
  margin: 0;
}
.div_project_title {
  @apply left-side whitespace-nowrap font-saba text-[#FFFFFF] text-[90px] bg-[#000B58] rounded-r-[50px];
}

.left-side{
  margin: 0;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: fit-content;
  flex: 1;    
}

.div_main_validation {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 30px;
}

.div_group_content{
  @apply main-form mt-[295px] mb-[295px];
}

.main-form{
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

.rounded_full{

}

.back_btn{
  @apply w-[48px] h-[48px];
}

.top_div {
  right: 48px;
  top: 24px;
}

.div_welcome{
  @apply whitespace-nowrap font-saba text-[30px] text-[#101828];
}

.div_rememeber_me{
  margin-bottom: 35px;
  margin-top: 20px;
  display: flex; align-items: center; justify-content: space-between;
}

.para_title{
  font-size: 70px;
  font-weight: 700;
  font-family: 'Saba';
  line-height: 126px;
}

.para_enter_account{
  font-size: 26px;
  font-family: 'Saba';
  font-weight: 700;
  line-height: 47px;
  margin-bottom: 0;
  color: #101828;
}

.para_welcome{
  font-size: 18px;
  line-height: 26px;
  font-family: 'W_hosseini';
  margin-top: 30px;
  margin-bottom: 0;
  margin-right: 30px;
  color: #1B1D1F;
}

.span_project_name{
  color: rgb(51, 6, 51);
}

.span_project_name:hover{
  cursor: pointer;
  text-decoration: underline;
}

.para_username{
  color: #495057;
  font-family: 'W_hosseini';
  size: 14px;
  font-family: 'W_hosseini';
  line-height: 23px;
  margin-top: 60px;
  margin-bottom: 7px;
}

.input_username{
  background-color: #F8F9FA;
  border: solid;
  border-radius: 5px;
  border-color: #BBC1C7;
  width: 100%;
  max-width: 400px;
  height: 40px;
  border-width: 1.5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
}

.para_email,
.para_username,
.para_password {
   color: #495057;
   font-family: 'W_hosseini';
   size: 14px;
   line-height: 23px;
   margin-top: 20px;
   margin-bottom: 7px;
}

.input_username,
.input_password,
.input_email {
   background-color: #F8F9FA;
   border: solid;
   border-radius: 5px;
   border-color: #BBC1C7;
   width: 100%;
   max-width: 400px;
   height: 40px;
   border-width: 1.5px;
   padding-left: 10px;
   padding-right: 10px;
   font-size: 16px;
}


.checkbox_remember_me{
  height: 15px;
  width: 15px;
  border: solid;
  border-width: 2px;
  border-radius: 3px;
  border-color: #000B58;
  margin-left: 5px;
}

.label_remember_me{
  font-size: 14px;
  line-height: 23px;
  font-family: 'W_hosseini';
  width: 87px;
  height: 23px;
}

.para_forgot_password{
  margin-right: 150px;
  display: inline-block;
  width: 159px;
  height: 23px;
  font-size: 14px;
  line-height: 23px;
  font-family: 'W_hosseini';
  color: #1B02B7;
}

.btn_login{
  background-color: #000B58;
  width: 100%; /* Makes button responsive */
  max-width: 400px;
  height: 32px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #F8F9FA;
  font-family: 'W_hosseini';
  margin-top: 20px;
}


.para_verification_code {
  color: #495057;
  font-family: 'W_hosseini';
  font-size: 16px;
  line-height: 26px;
  margin-top: 20px;
  margin-bottom: 7px;
  text-align: center;
}

.input_code_container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.input_code {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 40px;
  height: 40px;
  border: 1.5px solid #BBC1C7;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  font-family: 'Saba';
  background-color: #F8F9FA;
  color: #000;
}

.input_code:focus {
  border-color: #000B58;
  outline: none;
}

.timer {
  font-family: 'W_hosseini';
  font-size: 12px;
  color: #495057;
  margin-top: 15px;
  text-align: center;
}

.para_resend {
  font-family: 'W_hosseini';
  font-size: 14px;
  color: #0d19c0;
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
  text-decoration: underline;
}

.para_resend:hover {
  color: #000B58;
}

.para_email{
  color: #495057;
  font-family: 'W_hosseini';
  size: 14px;
  font-family: 'W_hosseini';
  line-height: 23px;
  margin-top: 20px;
  margin-bottom: 7px;
}
.input_email{
  background-color: #F8F9FA;
  border: solid;
  border-radius: 5px;
  border-color: #BBC1C7;
  width: 100%;
  max-width: 400px;
  height: 40px;
  border-width: 1.5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
}

.para_enter_account{
  font-size: 26px;
  font-family: 'Saba';
  font-weight: 700;
  line-height: 47px;
  margin-bottom: 0;
  color: #101828;
}

.para_verification_code {
  color: #495057;
  font-family: 'W_hosseini';
  font-size: 16px;
  line-height: 26px;
  margin-top: 20px;
  margin-bottom: 7px;
  text-align: center;
}

.para_email {
   color: #495057;
   font-family: 'W_hosseini';
   size: 14px;
   line-height: 23px;
   margin-top: 20px;
   margin-bottom: 7px;
}

.input_email {
   background-color: #F8F9FA;
   border: solid;
   border-radius: 5px;
   border-color: #BBC1C7;
   width: 100%;
   max-width: 400px;
   height: 40px;
   border-width: 1.5px;
   padding-left: 10px;
   padding-right: 10px;
   font-size: 16px;
}

/* صفحه وارد کردن کد تایید*/
.para_resend {
   color: black;
   text-decoration: none;
   margin-bottom: 40px;
}

.timer {
   font-family: 'W_hosseini';
   font-size: 12px;
   color: #495057;
   margin-top: 15px;
   text-align: center;
   margin-bottom: 40px;
}

.para_resend .resend_link {
   color: #000B58;
   text-decoration: none;
   margin-bottom: 40px;
}

.para_resend:hover .resend_link {
   color: #000B58;
   margin-bottom: 40px;
}


/* صفحه جدید برای تایید کد اشتباه*/
.div_verification_error {
  display: none;
  background-color: #f8d7da;
  color: red;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid red;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.div_verification_error .error_icon {
  margin-right: 15px;
  font-size: 18px;
  color: red;
}

.div_verification_error .error_message {
  margin: 0;
  font-size: 14px;
  color: red;
}

.input_code.error {
  border: 2px solid red;
}

.input_error {
  border: 1px solid red;
}

.error_container {
  display: flex;
  align-items: center;
  margin-top: 5px;
  color: red;
}

.icon_warning {
  margin-right: 5px;
}

.error_message {
  font-size: 14px;
  margin: 0;
}

@media (max-width: 768px) {
  .div_frame1 { 
      grid-template-columns: 1fr; /* Stacks columns vertically */
  } 
  
  .div_project_title, .div_login_form {
      width: 100%;
  } 
  
  .div_welcome {
      padding-right: 20px; /* Adjust padding as needed */ 
  }

  .para_title { 
      font-size: 50px; /* Adjust font size for smaller screens */ line-height: 80px; 
  } 
  
  .para_enter_account {
       font-size: 22px; /* Adjust font size for smaller screens */ line-height: 40px;
      }
}

@media (max-width: 480px) { 
  .label_remember_me, .para_forgot_password {
      font-size: 12px; /* Adjust font size for very small screens */
  } 
   
   .para_title {
      font-size: 40px; /* Adjust font size for smaller screens */ line-height: 60px;
  } 
  
  .para_enter_account { 
      font-size: 18px; /* Adjust font size for smaller screens */ line-height: 30px;
  }
}
