#table-team .header-container{
    display: flex;
    align-items: center;
    justify-items: flex-start;
    padding-right: 16px;
}

#table-team tr td:nth-child(2) .td-member-name {
    font-size: 14px;
    font-weight: normal;
    color: #2E2E2E;
}

#table-team tr td:nth-child(2) .td-member-username {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #5D5D5D;
    direction: ltr;
    text-align: right;
}

#table-team .tr-second-column{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: flex-start;
}

#table-team img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: none;
}

#table-team td:not(:last-child):not(:first-child){
    text-align: start;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    padding: 19px 20px 19px 8px;
}



