@tailwind base;
@tailwind components;
@tailwind utilities;


.main_container{
  @apply flex flex-col w-[1168px] mt-[32px] mr-[32px] px-[32px] pb-[50px] pt-[32px] border-[1px] rounded-[16px] border-[#B2B9C0];
}

.div_prj_title{
  @apply flex justify-between;
}

.div_prj_name{
  @apply flex items-center;
}

.maximise{
  @apply h-[40px] w-[40px] ml-[16px];
}

.para_prj_name{
  @apply text-[24px] font-semibold text-[#495057] ml-4 whitespace-nowrap;
}

.div_prj_info{
  @apply flex flex-col gap-[24px] mt-[32px] text-[16px] w-[1108px];
}

.div_info{
  @apply information-container flex items-center;
}

.div_status{
  @apply status-div flex items-center;
}

.main-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  overflow: auto;
  margin-bottom: 30px;
}

.dropdown_menu li {
  padding: 12px;
  font-weight: bold;
  font-size: 14px;
  color: #495057;
  cursor: pointer;
}

.project_description{
  color:#7F878F;
  font-size: 14px;
  margin-top: 20px;
  white-space: normal;
}

.information-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 330px;
}

.information_div {
  font-weight: bold;
  color: #495057;
  white-space: nowrap;
  width: 100px;
}

.information_span {
  font-weight: 300;
  color: #1B1D1F;
  white-space: nowrap;
}

.status-div {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 4px;
  font-size: 16px;
  font-weight: 300;
  color: #1C82A7;
  background-color: #E3F1FF;
  border-radius: 4px;
}

.img_status {
  width: 8px;
  height: 8px;
}